*{
    padding: 0;
    margin: 0;
}
ul.parent{

    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
    li{
        position: relative;
        a{
            text-transform: uppercase;
            text-decoration: none;
             &:hover{
                color: red;

             }  
        }
        ul{
            position:absolute;
            display: none;
        }
    &:hover{
        ul{
        display: block;
    }
    }
}
}